* {
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden !important;
}

#topCarousel .carousel-item {
  width: 100%;
  height: 78vh;
}

#topCarousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-theme1 {
  background-color: #EFEFEF;
}

.bg-theme2 {
  background-color: #F1C8CF;
}

.link-theme1 {
  text-decoration: none;
  color: blue;
}

.icon-container {
  width: 264px;
  height: 264px;
  border-radius: 50%;
}

.icon-container img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.small-icon {
  height: 32px;
}

.drawing-img {
  margin: 8px;
  width: calc(25vw - 16px);
  -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
  transform: translateY(50px) rotate(-5deg) translateZ(0);
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 0;
}

.videos-section {
  position: relative;
  right: 9.2vw;
  width: 118.4vw;
}

.videos-slider {
  width: 100%;
}

.video-iframe {
  margin: 8px;
  width: calc(29.6vw - 16px);
  height: calc(0.75 * (29.6vw - 16px));
  -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
  transform: translateY(50px) rotate(-5deg) translateZ(0);
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 0;
}

.ocs-section {
  position: relative;
  right: 12.5vw;
  width: 125vw;
}

.ocs-slider {
  width: 100%;
}

.oc-img {
  margin: 8px;
  width: calc(33vw - 16px);
  -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
  transform: translateY(50px) rotate(-5deg) translateZ(0);
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 0;
}

.oc-container {
  width: 33vw !important;
}

.oc-info-container {
  width: 59vw !important;
}

.oc-info-img {
  margin: 8px;
  width: calc(59vw - 16px);
  -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
  transform: translateY(50px) rotate(-5deg) translateZ(0);
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  opacity: 0;
}

.in-view {
  opacity: 1;
  -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
  transform: translateY(0px) rotate(0deg) translateZ(0);
}

.pricing-img {
  width: 320px;
  height: 320px;
}

.commission-form {
  width: 800px;
}

.commission-form input, .commission-form textarea {
  width: 420px;
}

.required-label::after {
  content: "*";
  color: red;
}

.submit-btn {
  width: 420px;
}

@media screen and (max-width: 768px) {
  .introduction-contents {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .introduction-left-div {
    margin-bottom: 24px !important;
  }
  
  .introduction-right-div {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center !important;
  }

  .drawings-section {
    position: relative;
    right: 50vw;
    width: 200vw !important;
  }

  .drawing-img {
    margin: 8px;
    width: calc(50vw - 16px);
  }
  
  .videos-section {
    position: relative;
    right: 68.4vw;
    width: 236.8vw;
  }
  
  .videos-slider {
    width: 100%;
  }
  
  .video-iframe {
    margin: 8px;
    width: calc(59.2vw - 16px);
    height: calc(0.75 * (59.2vw - 16px));
  }
  
  .ocs-section {
    position: relative;
    right: 59.4vw;
    width: 218.8vw;
  }
  
  .ocs-slider {
    width: 100%;
  }

  .oc-container {
    width: 55.9vw !important;
  }
  
  .oc-img {
    margin: 8px;
    width: calc(55.9vw - 16px);
  }
  
  .oc-info-container {
    width: 100vw !important;
  }

  .oc-info-img {
    margin: 8px;
    width: calc(100vw - 16px);
  }

  .pricing-contents .section-info p {
    margin-bottom: 0px !important;
  }

  .pricing-example {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  .pricing-img-container {
    margin-top: 16px !important;
  }

  .pricing-img-info {
    text-align: center !important;
  }

  .pricing-img-info p {
    margin-bottom: 0 !important;
  }

  .commission-contents .section-info {
    text-align: center;
  }

  .commission-form {
    padding-left: 0 !important;
    width: 540px !important;
  }

  .commission-form .input-row {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }
  
  .commission-form input, .commission-form textarea {
    width: 100% !important;
  }

  .submit-btn {
    width: 100% !important;
  }
}

@media screen and (max-width: 576px) {
  .commission-form {
    width: 100% !important;
  }
}
